[submodule "streamline.js"]
	path = streamline.js
	url = https://github.com/tattii/streamline.js.git
[submodule "grib2tiles"]
	path = grib2tiles
	url = https://github.com/weatherbox/grib2tiles
[submodule "components/meteogram"]
	path = components/meteogram
	url = https://github.com/weatherbox/meteogram.git
